/* ------------------------ RESET CSS ------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- RESET CSS - END -------------------- */
body {
  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins", sans-serif;
}

main {
  max-width: 1440px;
  margin: 30px auto 0;
}
main .main-title {
  text-align: center;
  text-decoration: underline;
  font-size: 2rem;
}
main .agecalculator {
  margin: 50px auto 0;
  padding: 30px;
  background-color: white;
  max-width: 650px;
  border-radius: 10px;
  border-bottom-right-radius: 35%;
  overflow: hidden;
}
@media screen and (max-width: 730px) {
  main .agecalculator {
    margin-inline: 12px;
    padding-inline: 15px;
  }
}
main .agecalculator .ageinputs {
  display: flex;
  column-gap: 20px;
}
@media screen and (max-width: 550px) {
  main .agecalculator .ageinputs {
    justify-content: center;
    column-gap: 10px;
  }
}
main .agecalculator .ageinputs .ageinput {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
main .agecalculator .ageinputs .ageinput label {
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
}
@media screen and (max-width: 550px) {
  main .agecalculator .ageinputs .ageinput label {
    font-size: 7px;
    font-weight: 700;
  }
}
main .agecalculator .ageinputs .ageinput input {
  padding: 10px 20px;
  border: 1px solid hsl(0, 0%, 94%);
  border-radius: 7px;
  font-size: 32px;
  max-width: 100px;
  font-weight: 700;
  transition: scale 0.3s;
}
main .agecalculator .ageinputs .ageinput input:focus {
  border-color: hsl(259, 100%, 65%);
  outline: hsl(259, 100%, 65%);
  scale: 1.2;
}
@media screen and (max-width: 550px) {
  main .agecalculator .ageinputs .ageinput input {
    max-width: 70px;
    font-size: 22px;
    padding-inline: 15px;
  }
}
main .agecalculator .ageinputs .ageinput .errormessage {
  color: hsl(0, 100%, 67%);
  font-size: 10px;
  pointer-events: none;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}
main .agecalculator .ageinputs .ageinput .errormessage.visible {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 550px) {
  main .agecalculator .ageinputs .ageinput .errormessage {
    font-size: 8px;
  }
}
main .agecalculator .validator {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
@media screen and (max-width: 550px) {
  main .agecalculator .validator {
    margin-top: 30px;
  }
}
main .agecalculator .validator .separator {
  width: 100%;
  border: unset;
  background: hsl(0, 0%, 94%);
  height: 2px;
}
main .agecalculator .validator button[type=submit] {
  border: unset;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: hsl(259, 100%, 65%);
  transition: background-color 0.5s;
  cursor: pointer;
}
main .agecalculator .validator button[type=submit] svg {
  padding: 20px;
  transition: scale 0.3s;
  width: 46px;
  height: 44px;
}
@media screen and (max-width: 550px) {
  main .agecalculator .validator button[type=submit] svg {
    width: 26px;
    height: 24px;
    padding: 10px;
  }
}
main .agecalculator .validator button[type=submit]:hover {
  background-color: black;
}
main .agecalculator .validator button[type=submit]:hover svg {
  scale: 1.1;
}
main .agecalculator .validator button[type=submit]:active svg {
  scale: 0.7;
}
@media screen and (max-width: 550px) {
  main .agecalculator .validator button[type=submit] {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}
@media screen and (max-width: 550px) {
  main .agecalculator .results {
    margin-top: 30px;
  }
}
main .agecalculator .results .result {
  font-size: 60px;
  font-weight: 800;
  font-style: italic;
}
main .agecalculator .results .result:not(:last-of-type) {
  margin-bottom: 15px;
}
main .agecalculator .results .result span {
  color: hsl(259, 100%, 65%);
}
@media screen and (max-width: 550px) {
  main .agecalculator .results .result {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
