@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --off-white: hsl(0, 0%, 94%);
  --purple: hsl(259, 100%, 65%);
  --red-error: hsl(0, 100%, 67%);
}

body {
  background-color: hsl(0, 0%, 86%);
  font-family: "Poppins", sans-serif;
}

main {
  margin: 35px auto 0;
  max-width: 1440px;
}

.main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  transition: font-size 300ms;
}
@media screen and (max-width: 550px) {
  .main-title {
    font-size: 1.8rem;
  }
}

.app-container {
  background-color: white;
  border-radius: 10px;
  border-bottom-right-radius: 35%;
  margin: 50px auto 0;
  max-width: 650px;
  overflow: hidden;
  padding: 30px;
}
@media screen and (max-width: 710px) {
  .app-container {
    margin-inline: 6px;
    padding-inline: 15px;
  }
}

.app-inputs {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  .app-inputs {
    column-gap: 10px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.input-container.has-error input {
  border-color: var(--red-error);
}
.input-container.has-error label {
  color: var(--red-error);
}
.input-container.has-error .errormessage {
  opacity: 1;
  visibility: visible;
}
.input-container .errormessage {
  color: var(--red-error);
  font-size: 10px;
  min-height: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, visibility 0.3s, font-size 300ms;
  visibility: hidden;
}
@media screen and (max-width: 550px) {
  .input-container .errormessage {
    font-size: 8px;
  }
}

.input-container label {
  color: hsl(0, 1%, 44%);
  font-size: 9px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.input-container input {
  border: 1px solid var(--off-white);
  border-radius: 7px;
  font-size: 30px;
  font-weight: 700;
  max-width: 100px;
  padding: 10px 20px;
  transition: scale 0.3s, border-color 0.3s, font-size 300ms;
}
.input-container input:focus {
  border-color: var(--purple);
  outline: var(--purple);
  scale: 1.2;
}
@media screen and (max-width: 550px) {
  .input-container input {
    font-size: 20px;
    max-width: 70px;
    padding-inline: 15px;
    width: 100%;
  }
}

.app-validator {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
@media screen and (max-width: 550px) {
  .app-validator {
    margin-top: 30px;
  }
}
.app-validator .separator {
  width: 100%;
  border: unset;
  background: var(--off-white);
  height: 2px;
}
.app-validator button[type=submit] {
  background-color: var(--purple);
  border: unset;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-content: center;
  transition: background-color 0.5s;
}
.app-validator button[type=submit] svg {
  height: 44px;
  padding: 20px;
  transition: scale 0.3s;
  width: 46px;
}
@media screen and (max-width: 550px) {
  .app-validator button[type=submit] svg {
    height: 24px;
    padding: 10px;
    width: 24px;
  }
}
.app-validator button[type=submit]:hover {
  background-color: black;
}
.app-validator button[type=submit]:hover svg {
  scale: 1.1;
}
.app-validator button[type=submit]:active svg {
  scale: 0.7;
}
@media screen and (max-width: 550px) {
  .app-validator button[type=submit] {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
}

@media screen and (max-width: 550px) {
  .app-results {
    margin-top: 30px;
  }
}

.app-results .app-result {
  font-size: 60px;
  font-style: italic;
  font-weight: 800;
  white-space: nowrap;
  transition: font-size 300ms;
}
.app-results .app-result:not(:last-of-type) {
  margin-bottom: 15px;
}
.app-results .app-result span {
  color: var(--purple);
}
@media screen and (max-width: 550px) {
  .app-results .app-result {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
